<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <title>My App</title>

        <link rel="stylesheet" href="static/vendor/ionic/release/css/ionic.css">
        <link rel="stylesheet" href="static/styles/style.css">
    </head>

    <body data-ng-controller="bodyController">
        <ion-nav-view></ion-nav-view>

        <script src="static/vendor/requirejs/require.js" data-main="static/scripts/main"></script>
    </body>
</html>
