<!DOCTYPE html>

<html lang="en-US" data-ng-app="myApp" data-ng-controller="siteController">
    <head>
        <meta charset="utf-8">

        <title data-ng-bind="siteTitle"></title>

        <link rel="stylesheet" href="static/styles/style.css">

        <script src="static/vendor/angular/angular.js"></script>
        <script src="static/vendor/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="static/scripts/modules/myApp.js"></script>
        <script src="static/scripts/modules/common/siteController.js"></script>

        <!--<script src="static/vendor/requirejs/require.js" data-main=""></script>-->
    </head>

    <body>
        <header class="hero-unit">
            <div class="container">
                <div class="row">
                    <div class="hero-text">
                    <h1>Welcome to Beego!</h1>
                        <p class="description">
                            Beego is a simple & powerful Go web framework which is inspired by tornado and sinatra.<br>
                            Official website: <a href="http://{{.Website}}">{{.Website}}</a><br>
                            Contact me: {{.Email}}
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <div data-ui-view></div>
    </body>
</html>
