<ion-view title="{{ siteTitle }} - Home">
    <ion-content class="has-header">
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quam urna, venenatis in nunc quis, pulvinar lacinia lectus. Duis a elementum nibh. Duis vitae mi commodo, sodales elit at, convallis magna. Duis at commodo ipsum. Morbi ultricies felis a est luctus feugiat. Curabitur nisi augue, gravida et ex suscipit, interdum sollicitudin magna. Phasellus consectetur eros blandit, vehicula felis vel, sagittis augue.</p>
    </ion-content>
</ion-view>
