body {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

h1 {
    font-family: inherit;
    font-weight: bold;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}

p {
    margin: 0 0 10px;
}

.hero-unit {
    background-color: rgb(169,241,108);
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 60px;
}

.hero-unit h1 {
    color: inherit;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.row {
    margin-left: -20px;
}

.description {
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    padding-left: 5px;
    padding-top: 5px;
}
